<div>

    <button
            class="btn btn-primary btn-sm"
            data-action="modal-form#openModal"
            data-form-url-value="{{ path('app_admin_location_country_new' ) }}"
            data-url-value="{{ path('app_admin_location_country_index', { ajax: 1 } ) }}"
            data-node-dest-id-value="myThreeCustomContent"
            data-modal-title-value="{{ 'Buttons.Custom.Nouveau.Country'|trans }}"
            data-refresh-key-value="refresh-html"
    >
        {{ 'Buttons.General.Nouveau'|trans }}
    </button>
    <div>
        <table data-toggle="table" data-search="true" data-show-columns="true" data-page-size="10"
               data-buttons-class="md btn-soft-primary" data-pagination="true"
               data-show-pagination-switch="true" class="table-bordered">
            <thead class="table-primary">
            <tr>
                <th>Code</th>
                <th>Alpha3</th>
                <th>Name</th>
                <th>Phone_code</th>
                <th>Capital</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody data-reload-content-target="myThreeCustomContent">
            {{ include('admin/location/country/_list.html.twig') }}
            </tbody>
        </table>
    </div>
</div>