{% for offer_product_type in offer_product_types %}
    <tr>
        <td>{{ offer_product_type.id }}</td>
        <td>{{ offer_product_type.maxItems }}</td>
        <td>{{ offer_product_type.price }}</td>
        <td>
            <a href="{{ path('app_offer_product_type_show', {'id': offer_product_type.id}) }}">show</a>
            <a href="{{ path('app_offer_product_type_edit', {'id': offer_product_type.id}) }}">edit</a>
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="4">no records found</td>
    </tr>
{% endfor %}