{% extends 'base.html.twig' %}

{% block title %}OfferProductType{% endblock %}

{% block body %}
    <h1>OfferProductType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offer_product_type.id }}</td>
            </tr>
            <tr>
                <th>MaxItems</th>
                <td>{{ offer_product_type.maxItems }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ offer_product_type.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_offer_product_type_index') }}">back to list</a>

    <a href="{{ path('app_offer_product_type_edit', {'id': offer_product_type.id}) }}">edit</a>

    {{ include('offer_product_type/_delete_form.html.twig') }}
{% endblock %}
