{% extends 'base.html.twig' %}

{% block body %}

    <body class="authentication-bg authentication-bg-pattern">

    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-4">
                    <div class="card bg-pattern">

                        <div class="card-body p-4">

                            <div class="text-center w-75 m-auto">
                                <div class="auth-logo">
                                    <a href="" class="logo logo-dark text-center">
                                            <span class="logo-lg">
                                                <img src={{ asset("/images/logo-dark.png") }} alt="" height="auto">
                                            </span>
                                    </a>

                                    <a href="" class="logo logo-light text-center">
                                            <span class="logo-lg">
                                                <img src={{ asset("/images/logo-light.png") }} alt="" height="auto">
                                            </span>
                                    </a>
                                </div>
                                <p class="text-muted mb-4 mt-3">Enter your email address and password to access admin
                                    panel.</p>
                            </div>

                            <form method="post" action="{{ path('app_login') }}">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as {{ app.user.userIdentifier }}, <a
                                                href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% endif %}

                                <div class="mb-3">
                                    <label for="inputEmail" class="form-label">Email address</label>
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                           class="form-control" placeholder="Enter your email" autocomplete="email"
                                           required autofocus>
                                </div>

                                <div class="mb-3">
                                    <label for="inputPassword" class="form-label">Password</label>
                                    <div class="input-group input-group-merge">
                                        <input type="password" name="password" id="inputPassword" class="form-control"
                                               placeholder="Enter your password" autocomplete="current-password"
                                               required>
                                        <input type="hidden" name="_csrf_token"
                                               value="{{ csrf_token('authenticate') }}"
                                        >
                                    </div>
                                </div>

                                <div class="text-center d-grid">
                                    <button class="btn btn-primary" type="submit"> Log In</button>
                                </div>

                            </form>

                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->
                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <p class="text-white">Pour toute assistance: <a href="" class="text-white ms-1"><b>support.3t.tn</b></a>
                            </p>
                            <p class="text-white ms-1">Mobile: +216 99 904 350 / +216 44 318 838</p>
                            <p class="text-white ms-1">Téléphone: +216 74 400 514 / +216 74 402 201</p>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->

    <footer class="footer footer-alt">
        <span class="text-white">2022 &copy; </span><a href=""><img src={{ asset("assets/images/logo3t.png") }} alt="" height="auto"></a>
    </footer>

    </body>

{% endblock %}
