{% for offer_product_type in offer_product_types %}
    <tr>

        <div class="d-flex align-items-center">

            <td>{{ offer_product_type.id }}</td>
            <td>{{ offer_product_type.maxItems }}</td>
            <td>{{ offer_product_type.price }}</td>

            <td>



                <button
                        class=" btn btn-link btn-rounded btn-sm fw-bold btn-success btn-sm"
                        data-action="modal-form#openModal"
                        data-form-url-value="{{ path('app_offer_product_edit', {'id': offer_product_type.id}) }}"
                        data-url-value="{{ path('app_offer_product_index', { ajax: 1 } ) }}"
                        data-node-dest-id-value="myOneCustomContent"
                        data-refresh-key-value="refresh-html">
                    <i class="fas fa-edit"></i> Edit
                </button>




            </td>
        </div>
    </tr>

    </td>
    </tr>
{% else %}
    <tr>
        <td colspan="4">no records found</td>
    </tr>
{% endfor %}