{#{% extends 'base.html.twig' %}#}

{#{% block title %}OfferProductType index{% endblock %}#}

{#{% block body %}#}
{#    <h1>OfferProductType index</h1>#}

{#    <table class="table">#}
{#        <thead>#}
{#        <tr>#}
{#            <th>Id</th>#}
{#            <th>MaxItems</th>#}
{#            <th>Price</th>#}
{#            <th>actions</th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for offer_product_type in offer_product_types %}#}
{#            <tr>#}
{#                <td>{{ offer_product_type.id }}</td>#}
{#                <td>{{ offer_product_type.maxItems }}</td>#}
{#                <td>{{ offer_product_type.price }}</td>#}
{#                <td>#}
{#                    <a href="{{ path('app_offer_product_show', {'id': offer_product_type.id}) }}">show</a>#}
{#                    <a href="{{ path('app_offer_product_edit', {'id': offer_product_type.id}) }}">edit</a>#}
{#                </td>#}
{#            </tr>#}
{#        {% else %}#}
{#            <tr>#}
{#                <td colspan="4">no records found</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}

{#    <a href="{{ path('app_offer_product_new') }}">Create new</a>#}
{#{% endblock %}#}


{#---#}
{% extends 'admin/base_admin.html.twig' %}

{% block title %}{% endblock %}

{% block container %}
    <h1 class="text-start fs-2 bold my-2 mb-3">All OfferProductType</h1>
    <br>
    <div class="text-start m-lg-4">
        <a class="btn btn-success" href="{{ path('app_offer_product_new') }}">Créer nouveau</a>
    </div>
    <div>

        <table class="table align-middle mb-0 bg-white shadow-lg " data-search= "true"
               data-toggle="table"  data-pagination="true" data-page-size="10"
               data-show-pagination-switch="true" data-show-columns="true" >
            <thead class="bg-secondary text-white">
            <tr>
                <th>Id</th>
                <th>MaxItems</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody data-reload-content-target="myOneCustomContent">
            {{ include('offer_product/_liste.html.twig') }}
            </tbody>
        </table>
    </div>


{% endblock %}


