{% for offer in offers %}
    <tr>
        <td>{{ offer.id }}</td>
        <td>{{ offer.name }}</td>

        <td>{{ offer.nbDays }}</td>
        {% set price = 0 %}
        {% set count = 0 %}
        <td>{% for offerProductType in offer.offerProductTypes %}
{#                <button#}
{#                        class="btn btn-outline-primary"#}
{#                        data-action="modal-form#openModal"#}
{#                        data-form-url-value="{{ path('app_offer_product_type_edit',{'id': offerProductType.id } ) }}"#}
{#                        data-url-value="{{ path('app_offer_product_type_index', { ajax: 1 } ) }}"#}
{#                        data-node-dest-id-value="myOneCustomContent"#}
{#                        data-modal-title-value="{{ 'Buttons.Custom.Nouveau.Continent'|trans }}"#}
{#                        data-refresh-key-value="refresh-html">#}
{#                    {{ offerProductType.productType.name }}<br>Max items: {{ offerProductType.maxItems }}#}
{#                </button>#}
                {% set price = price + offerProductType.price %}
                {% set count = count + 1 %}

            {% endfor %}
{#            <button#}
{#                    class="btn btn-soft-success btn-sm"#}
{#                    data-action="modal-form#openModal"#}
{#                    data-form-url-value="{{ path('app_offer_product_type_new',{'id': offer.id}) }}"#}
{#                    data-url-value="{{ path('app_offer_product_type_index', { ajax: 1 } ) }}"#}
{#                    data-node-dest-id-value="myOneCustomContent"#}
{#                    data-modal-title-value="{{ 'Buttons.Custom.Nouveau.Continent'|trans }}"#}
{#                    data-refresh-key-value="refresh-html">#}
{#                <i class="fe-plus-circle"></i>#}
{#            </button>#}

            <button type="button" class="btn btn-link">
                <a href="{{ path('app_offer_showProductsTypes',{'id':offer.id}) }}">show all</a>
            </button>

        </td>
        <td>{{ count }}</td>
        <td>total price: {{ price }}</td>
        <td>
            <button
                    class="btn btn-link btn-rounded btn-sm fw-bold btn-info btn-sm"
                    data-action="modal-form#openModal"
                    data-form-url-value="{{ path('app_offer_show', {'id': offer.id}) }}"
                    data-node-dest-id-value="myThreeCustomContent"
                    data-refresh-key-value="refresh-html">
                <i class="fas fa-eye"></i>
            </button>
            <a href="{{ path('app_offer_edit', {'id': offer.id}) }}"> <i class="fas fa-edit"></i></a>
                <button
                        class="btn btn-link btn-rounded btn-sm fw-bold btn-success btn-sm"
                        data-action="modal-form#openModal"
                        data-form-url-value="{{ path('app_offer_edit', {'id': offer.id}) }}"
                        data-url-value="{{ path('app_offer_index', { ajax: 1 } ) }}"
                        data-node-dest-id-value="myOneCustomContent"
                        data-modal-title-value="{{ 'Buttons.General.Modifier'|trans }}"
                        data-refresh-key-value="refresh-html">
                    <i class="fas fa-edit"></i>
                </button>
            <button
                    class="btn btn-link btn-rounded btn-sm fw-bold btn-danger btn-sm"
                    data-action="modal-form#openModal"
                    data-form-url-value="{{ path('app_offer_delete', {'id': offer.id}) }}"
                    data-url-value="{{ path('app_offer_index', { ajax: 1 } ) }}"
                    data-node-dest-id-value="myOneCustomContent"
                    data-modal-title-value="{{ 'Buttons.General.Modifier'|trans }}"
                    data-refresh-key-value="refresh-html">
                <i class="fas fa-trash-alt"></i>
            </button>
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="5">no records found</td>
    </tr>
{% endfor %}