{% extends 'base.html.twig' %}

{% block title %}Traveler{% endblock %}

{% block body %}
    <h1>Traveler</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ traveler.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ traveler.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ traveler.lastName }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ traveler.address }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_traveler_index') }}">back to list</a>

    <a href="{{ path('app_traveler_edit', {'id': traveler.id}) }}">edit</a>

    {{ include('traveler/_delete_form.html.twig') }}
{% endblock %}
