{% extends 'base.html.twig' %}

{% block title %}SellerOffer index{% endblock %}

{% block body %}
    <h1>SellerOffer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreationDate</th>
                <th>StartDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seller_offer in seller_offers %}
            <tr>
                <td>{{ seller_offer.id }}</td>
                <td>{{ seller_offer.creationDate ? seller_offer.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ seller_offer.startDate ? seller_offer.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_seller_offer_show', {'id': seller_offer.id}) }}">show</a>
                    <a href="{{ path('app_seller_offer_edit', {'id': seller_offer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_seller_offer_new') }}">Create new</a>
{% endblock %}
