{% for market_subscription_request in market_subscription_requests|sort((a, b) => a.status <=> b.status) %}
    <tr>
        <td>{{ market_subscription_request.id }}</td>
        <td>{{ market_subscription_request.name }}</td>
        <td>{{ market_subscription_request.email }}</td>
        <td>{{ market_subscription_request.website }}</td>
        <td>{{ market_subscription_request.address }}</td>
        <td>{{ market_subscription_request.city }}</td>
        <td>{% if(market_subscription_request.status == 'validated') %}
                <span class="badge badge-outline-success">Validated</span>
            {% else %}
                <span class="badge badge-outline-warning">Pending</span>
            {% endif %}
        </td>
        <td>
            <button
                    class="btn btn-info btn-sm"
                    data-action="modal-form#openModal"
                    data-form-url-value="{{ path('app_market_subscription_request_show', {'id': market_subscription_request.id}) }}"
                    data-node-dest-id-value="myThreeCustomContent"
                    data-refresh-key-value="refresh-html">
                <i class="fas fa-eye"></i>
            </button>
            {% if market_subscription_request.status == 'pending'%}
                <button
                        class="btn btn-success btn-sm"
                        data-action="modal-form#openModal"
                        data-form-url-value="{{ path('app_seller_new', {'idM':market_subscription_request.id}) }}"
                        data-url-value="{{ path('app_seller_index', { ajax: 1 } ) }}"
                        data-node-dest-id-value="myThreeCustomContent"
                        data-modal-title-value="{{ 'Buttons.Custom.Nouveau.Seller'|trans }}"
                        data-refresh-key-value="refresh-html">
                    <i class="fe-check"></i>
                </button>
            {% endif %}
        </td>
        <td>
            {% for user in users %}
                {% for seller in sellers %}
                    {% if user.id == seller.user.id and user.email == market_subscription_request.email%}
                        {% if market_subscription_request.status == 'validated' and seller.api == null %}
                            {#                                        create api#}
                            <button
                                    class="btn btn-primary btn-sm"
                                    data-action="modal-form#openModal"
                                    data-form-url-value="{{ path('app_api_new',{'seller':seller.id}) }}"
                                    data-url-value="{{ path('app_api_index', { ajax: 1 } ) }}"
                                    data-node-dest-id-value="myThreeCustomContent"
                                    data-modal-title-value="{{ 'Buttons.Custom.Nouveau.Seller'|trans }}"
                                    data-refresh-key-value="refresh-html">
                                create api
                            </button>
                        {% else %}
                            {#                                        modify api#}
                            <button
                                    class="btn btn-success btn-sm"
                                    data-action="modal-form#openModal"
                                    data-form-url-value="{{ path('app_api_edit', {'id':seller.api.id}) }}"
                                    data-url-value="{{ path('app_seller_index', { ajax: 1 } ) }}"
                                    data-node-dest-id-value="myThreeCustomContent"
                                    data-modal-title-value="{{ 'Buttons.Custom.Nouveau.Seller'|trans }}"
                                    data-refresh-key-value="refresh-html">
                                edit api
                            </button>

                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="7">no records found</td>
    </tr>
{% endfor %}