{% extends 'admin/base_admin.html.twig' %}

{% block title %}{% endblock %}

{% block container %}
    <h1 class="text-start fs-2 bold my-2 mb-3 fs-4 display-1">Market Subscription Requests</h1>


    <div>

        <table class="table align-middle mb-0 bg-white shadow-lg " data-search= "true"
               data-toggle="table"  data-pagination="true" data-page-size="10"
               data-show-pagination-switch="true" data-show-columns="true" >
            <thead class="bg-secondary text-white">
            <tr>

                <th>Name</th>
                <th>Email</th>
                <th>Website</th>
                <th>Address</th>
                <th>City</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody data-reload-content-target="myOneCustomContent">
            {% for market_subscription_request in market_subscription_requests|sort((a, b) => a.status <=> b.status) %}
                <tr>

                    <div class="d-flex align-items-center">


                        <td>{{ market_subscription_request.name }}</td>
                        <td>{{ market_subscription_request.email }}</td>
                        <td>{{ market_subscription_request.website }}</td>
                        <td>{{ market_subscription_request.address }}</td>
                        <td>{{ market_subscription_request.city }}</td>
                        <td>{% if(market_subscription_request.status == 'validated') %}
                                <span class="badge badge-outline-success">Validated</span>
                            {% elseif (market_subscription_request.status == 'pending')%}
                                <span class="badge badge-outline-warning">Pending</span>
                            {% else%}
                                <span class="badge badge-outline-danger">Rejected</span>

                            {% endif %}
                        </td>

                        <td>
                            {% if market_subscription_request.status == 'pending'%}
                                <button
                                        class="btn btn-theme btn-outline-primary btn-sm"
                                        data-action="modal-form#openModal"
                                        data-form-url-value="{{ path('app_seller_new', {'idM':market_subscription_request.id}) }}"
                                        data-url-value="{{ path('app_seller_index', { ajax: 1 } ) }}"
                                        data-node-dest-id-value="myThreeCustomContent"
                                        data-modal-title-value="New seller"
                                        data-refresh-key-value="refresh-html">
                                    <i class="fe-check"></i>
                                </button>

                                <a class="btn btn-theme btn-outline-danger btn-sm"
                                        href= {{ path('app_market_subscription_request_rejected' , {'id':market_subscription_request.id }) }}>
                                        <i class="bi bi-x"></i>
                                </a>

                            {% endif %}
                            <button

                                    {#                                    data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left"#}
                                    class="btn btn-theme btn-outline-info btn-sm"
                                    data-action="modal-form#openModal"
                                    data-form-url-value="{{ path('app_market_subscription_request_show', {'id': market_subscription_request.id}) }}"
                                    data-node-dest-id-value="myThreeCustomContent"
                                    data-refresh-key-value="refresh-html">
                                <i class="fas fa-eye"></i>
                            </button>

                        </td>
                    </div>
                </tr>

                </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}