{% extends 'admin/base_admin.html.twig' %}

{% block title %}{% endblock %}

{% block container %}
    <h1 class="text-start fs-2 bold my-2 mb-3 fs-4 display-1">Market Subscription Requests list</h1>


    <div>

        <table class="table align-middle mb-0 bg-white shadow-lg " data-search="true"
               data-toggle="table" data-pagination="true" data-page-size="10"
               data-show-pagination-switch="true" data-show-columns="true">
            <thead class="bg-secondary text-white">
            <tr>

                <th>Name</th>
                <th>Email</th>
                <th>Website</th>
                <th>Address</th>
                <th>City</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody data-reload-content-target="myOneCustomContent">
            {% for market_subscription_request in market_subscription_requests|sort((a, b) => a.status <=> b.status) %}
                <tr>

                    <div class="d-flex align-items-center">


                        <td>{{ market_subscription_request.name }}</td>
                        <td>{{ market_subscription_request.email }}</td>
                        <td>{{ market_subscription_request.website }}</td>
                        <td>{{ market_subscription_request.address }}</td>
                        <td>{{ market_subscription_request.city }}</td>
                        <td>{% if(market_subscription_request.status == 'validated') %}
                                <span class="badge badge-outline-success">Validated</span>
                            {% elseif (market_subscription_request.status == 'pending') %}
                                <span class="badge badge-outline-warning">Pending</span>
                            {% else %}
                                <span class="badge badge-outline-danger">Rejected</span>

                            {% endif %}
                        </td>

                        <td>
                            {% if market_subscription_request.status == 'pending' %}
                                <button
                                        class="btn btn-link"
                                        data-action="modal-form#openModal"
                                        data-form-url-value="{{ path('app_seller_new', {'idM':market_subscription_request.id}) }}"
                                        data-url-value="{{ path('app_seller_index', { ajax: 1 } ) }}"
                                        data-node-dest-id-value="myThreeCustomContent"
                                        data-modal-title-value="New seller"
                                        data-refresh-key-value="refresh-html">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                    </svg>
                                </button>

                                <a class="btn btn-theme btn-outline btn"
                                   href= {{ path('app_market_subscription_request_rejected' , {'id':market_subscription_request.id }) }}>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill-dash" viewBox="0 0 16 16">
                                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7ZM11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1Zm0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                                        <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
                                    </svg>
                                </a>
                                {% elseif market_subscription_request.status == 'rejected' %}
                                    <button
                                            class="btn btn-theme btn-outline btn-sm"
                                            data-action="modal-form#openModal"
                                            data-form-url-value="{{ path('app_market_subscription_request_delete', {'id':market_subscription_request.id}) }}"
                                            data-url-value="{{ path('app_market_subscription_request_index', { ajax: 1 } ) }}"
                                            data-node-dest-id-value="myThreeCustomContent"
                                            data-refresh-key-value="refresh-html">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                             class="bi bi-trash-fill text-dark" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                        </svg>
                                    </button>

                            {% endif %}

                        </td>
                    </div>
                </tr>

                </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}