{% extends 'base.html.twig' %}

{% block title %}ApiProduct index{% endblock %}

{% block body %}
    <h1>ApiProduct index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>IdProductFromApi</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for api_product in api_products %}
            <tr>
                <td>{{ api_product.id }}</td>
                <td>{{ api_product.name }}</td>
                <td>{{ api_product.idProductFromApi }}</td>
                <td>
                    <a href="{{ path('app_api_product_show', {'id': api_product.id}) }}">show</a>
                    <a href="{{ path('app_api_product_edit', {'id': api_product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_api_product_new') }}">Create new</a>
{% endblock %}
