{% import 'seller_side/partial/menu-macros.html.twig' as macros %}
<!-- Navbar Bar -->
<div class="navbar-area">
    <div class="main-responsive-nav">
        <div class="container">
            <div class="main-responsive-menu">
                <div class="logo">
                     <a class="navbar-brand" href="{{ path('app_main') }}">
                        <img alt="logo" src={{ asset("assets/images/logo3t.png") }} >
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-navbar">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="{{ path('app_main') }}">
                    <img alt="logo" src={{ asset('assets/images/logo3t.png') }}>
                </a>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        {% if is_granted('ROLE_SELLER') %}
                            {{ macros.menu_links(app.session.get('menu'), 0) }}
                        {% else %}
                        <li class="nav-item">
                            <a href={{ path('app_main') }} class="nav-link">Home</a>
                        </li>

                        <li class="nav-item">
                            <a href={{ path('aboutUs') }} class="nav-link">About us</a>
                        </li>
                        <li class="nav-item">
                            <a href={{ path('contact') }} class="nav-link">Contact</a>
                        </li>
                            <li class="nav-item">
                                <a href={{ path('app_login') }} class="nav-link">B2B</a>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="others-options d-flex align-items-center">
                        <div class="option-item">
                            <a href="#" class="search-box">
                                <i class="bi bi-search"></i></a>
                        </div>
                        <div class="option-item">
                            <a href={{ path('app_front_wishList') }} class="btn btn_navber"><i class="fa fa-heart" aria-hidden="true"></i></a>
                        </div>
                        {% if not is_granted('IS_AUTHENTICATED') %}
                        <div class="option-item">
                            <a href={{ path('subscription') }} class="btn btn_navber">Subscription request</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>