{% extends 'seller_side/dashboard.html.twig' %}

{% block dynamic_content %}

    <div class="col-lg-8">
        {% for message in app.flashes('error') %}
            <div class="alert alert-light d-flex align-items-center alert-dismissible fade show border-danger"
                 role="alert">
                <i class="bi bi-x-circle-fill text-danger me-2"></i>
                <span>{{ message }}</span>
            </div>
        {% endfor %}
        <div class="dashboard_main_top">
            <div class="row">
                <div class="col-lg-6">
                    <div class="dashboard_top_boxed">
                        <div class="dashboard_top_icon">
                            <i class="bi bi-hand-index-thumb-fill"></i>
                        </div>
                        <div class="dashboard_top_text">
                            <h3>Last month clicks</h3>
                            <h1>{{ lastMonthClicks }}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="dashboard_top_boxed">
                        <div class="dashboard_top_icon">
                            <i class="fas fa-sync"></i>
                        </div>
                        <div class="dashboard_top_text">
                            <h3>Yesterday clicks</h3>
                            <h1>{{ yesterdayClicks }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard_main_top">
        </div>
        <div class="dashboard_common_table">
            <h3>Active offers</h3>
            <div class="table-responsive-lg table_common_area">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Sl no.</th>
                        <th>name</th>
                        <th>Nb products</th>
                        <th>Remaining days</th>
                        <th>Status</th>
{#                        <th>Action</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% if activeSellerOffers|length > 0 %}
                    {% for activeSellerOffer in activeSellerOffers %}
                    <tr>
                        <td>{{ (currentPage - 1) * offersPerPage + loop.index }}</td>
                        <td>{{ activeSellerOffer.offer.name }}</td>
                        <td>{{ activeSellerOffer.offer.nbProductTypes }}</td>
                        <td>{{ activeSellerOffer.remainingDays }}</td>
                        <td class="text-center {{ activeSellerOffer.status == 'active' ? 'text-success' : (activeSellerOffer.status == 'pending' ? 'text-warning' : 'text-danger') }}">{{ activeSellerOffer.status }}</td>
                        <td>
                            {% if activeSellerOffer.status is same as('expired') %}
                                <a href="{{ path('app_seller_side_addToCard', { offer: activeSellerOffer.offer.id }) }}">Renew</a>
                                {# <i class="fas fa-eye"></i> #}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="6"><p>You didn't buy any offer</p></td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="pagination_area">
                <ul class="pagination">
                    <li class="page-item {{ currentPage == 1 ? 'disabled' }}">
                        <a class="page-link" href="{{ path(app.request.get('_route'), { 'page': currentPage-1 }) }}" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% for i in 1..totalPages %}
                        <li class="page-item {{ currentPage == i ? 'active' }}">
                            <a class="page-link" href="{{ path(app.request.get('_route'), { 'page': i }) }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                    <li class="page-item {{ currentPage == totalPages ? 'disabled' }}">
                        <a class="page-link" href="{{ path(app.request.get('_route'), { 'page': currentPage+1 }) }}" aria-label="Next">
                            <span aria-hidden="true">»</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


{#                    {% set offers_per_page = 10 %}#}
{#                    {% set page = app.request.query.get('page')|default(1) %}#}
{#                    {% set start_index = (page - 1) * offers_per_page %}#}
{#                    {% set end_index = start_index + offers_per_page %}#}
{#                    {% set total_pages = (seller.sellerOffers.count + offers_per_page - 1) // offers_per_page %}#}
{#                    {% if seller.sellerOffers.count > 0 %}#}
{#                        {% for sellerOffer in activeSellerOffers|slice(start_index, end_index) %}#}
{#                            <tr>#}
{#                                <td>{{ start_index + loop.index }}</td>#}
{#                                <td>{{ sellerOffer.offer.name }}</td>#}
{#                                <td>{{ sellerOffer.offer.nbProductTypes }}</td>#}
{#                                <td>{{ sellerOffer.remainingDays }}</td>#}
{#                                <td class="text-center {{ sellerOffer.status == 'active' ? 'text-success' : (sellerOffer.status == 'pending' ? 'text-warning' : 'text-danger') }}">{{ sellerOffer.status }}</td>#}
{#                                <td><i class="fas fa-eye"></i></td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
{#                    {% else %}#}
{#                        <tr>#}
{#                            <td colspan="6"><p>You didn't buy any offer</p></td>#}
{#                        </tr>#}
{#                    {% endif %}#}


{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{#        </div>#}


{#        <div class="pagination_area">#}
{#            <ul class="pagination">#}
{#                <li class="page-item {{ page == 1 ? 'disabled' }}">#}
{#                    <a class="page-link" href="{{ path(app.request.get('_route'), {'page': page-1}) }}"#}
{#                       aria-label="Previous">#}
{#                        <span aria-hidden="true">«</span>#}
{#                        <span class="sr-only">Previous</span>#}
{#                    </a>#}
{#                </li>#}
{#                {% for i in 1..total_pages %}#}
{#                    <li class="page-item {{ page == i ? 'active' }}">#}
{#                        <a class="page-link" href="{{ path(app.request.get('_route'), {'page': i}) }}">{{ i }}</a>#}
{#                    </li>#}
{#                {% endfor %}#}
{#                <li class="page-item {{ page == total_pages ? 'disabled' }}">#}
{#                    <a class="page-link" href="{{ path(app.request.get('_route'), {'page': page+1}) }}"#}
{#                       aria-label="Next">#}
{#                        <span aria-hidden="true">»</span>#}
{#                        <span class="sr-only">Next</span>#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}
