{% extends 'seller_side/dashboard.html.twig' %}

{% block dynamic_content %}
    <div class="col-lg-8">
        <div class="dashboard_common_table">
            <h3>My Profile</h3>
            <div class="profile_update_form">
                <div action="!#" id="profile_form_area">
                    <div class="row">
                        {% if form_errors(form) %}
                            <div class="alert alert-danger">
                                {{ form_errors(form) }}
                            </div>
                        {% endif %}
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form_start(form) }}
                                {{ form_row(form.name) }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form_row(form.website) }}

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form_row(form.address) }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form_row(form.user.username) }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form_row(form.user.email) }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form_label(form.city, null, {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.city, {'attr': {'class': 'invalid-feedback'}}) }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form_label(form.api, null, {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.api, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.api, {'attr': {'class': 'invalid-feedback'}}) }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form_row(form.brochure) }}
                            </div>
                        </div>
                        <div class="change_password_input_boxed">
                            <h3>Change password</h3>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group change_password_field">
                                        {{ form_row(form.oldPassword) }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group change_password_field">
                                        {{ form_row(form.newPassword) }}
                                    </div>
                                </div>
                            </div>

{#                            {% if form_errors(form) %}#}
{#                                <div class="alert alert-danger">#}
{#                                    {{ form_errors(form) }}#}
{#                                </div>#}
{#                            {% endif %}#}
                            <button type="submit" class="btn btn_theme btn_md">Save</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end profile -->
{% endblock %}