{% for seller in sellers %}
    <tr>
        <td>{{ seller.id }}</td>
        <td>{{ seller.name }}</td>
        <td>{{ seller.user.email }}</td>
        <td>{{ seller.website }}</td>
        <td>{{ seller.address }}</td>
        <td>

{#            <button#}
{#                    class=" btn btn-link btn-rounded btn-sm fw-bold btn-success btn-sm"#}
{#                    data-action="modal-form#openModal"#}
{#                    data-form-url-value="{{ path('app_seller_edit', {'id': seller.id}) }}"#}
{#                    data-url-value="{{ path('app_seller_index', {'seller':seller.id, ajax: 1 } ) }}"#}
{#                    data-node-dest-id-value="seller"#}
{#                    data-refresh-key-value="refresh-html">#}
{#                <i class="fas fa-edit"></i> Edit#}
{#            </button>#}
            <button
                    class=" btn btn-link"
                    data-action="modal-form#openModal"
                    data-form-url-value="{{ path('app_seller_delete', {'id': seller.id}) }}"
                    data-url-value="{{ path('app_seller_index', {'seller':seller.id, ajax: 1 } ) }}"
                    data-node-dest-id-value="seller"
                    data-refresh-key-value="refresh-html">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#38414a" class="bi bi-person-fill-x" viewBox="0 0 16 16">
                    <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm-.646-4.854.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 0 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 .708-.708Z"/>
                </svg>
            </button>
        </td>
        <td>
    {% if seller.api is null %}
    <button
            class="btn btn-primary btn-sm"
            data-action="modal-form#openModal"
            data-form-url-value="{{ path('app_api_new',{'seller':seller.id}) }}"
            data-url-value="{{ path('app_seller_index', {'seller':seller.id, ajax: 1 } )  }}"
            data-node-dest-id-value="seller"
            data-modal-title-value="{{ 'Buttons.Custom.Nouveau.Seller'|trans }}"
            data-refresh-key-value="refresh-html">
        Create api
    </button>
    {% else %}
        {#                                        modify api#}
        <button
                class="btn btn-success btn-sm"
                data-action="modal-form#openModal"
                data-form-url-value="{{ path('app_api_edit', {'id':seller.api.id}) }}"
                data-url-value="{{ path('app_seller_index', {'seller':seller.id, ajax: 1 }) }}"
                data-node-dest-id-value="seller"
                data-modal-title-value="{{ 'Buttons.Custom.Nouveau.Seller'|trans }}"
                data-refresh-key-value="refresh-html">
            Edit api
        </button>
    {% endif %}
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="5">no records found</td>
    </tr>
{% endfor %}