{% for seller in sellers %}
    <tr>
        <td>{{ seller.id }}</td>
        <td>{{ seller.name }}</td>
        <td>{{ seller.user.email }}</td>
        <td>{{ seller.website }}</td>
        <td>{{ seller.address }}</td>
        <td>

{#            <button#}
{#                    class=" btn btn-link btn-rounded btn-sm fw-bold btn-success btn-sm"#}
{#                    data-action="modal-form#openModal"#}
{#                    data-form-url-value="{{ path('app_seller_edit', {'id': seller.id}) }}"#}
{#                    data-url-value="{{ path('app_seller_index', {'seller':seller.id, ajax: 1 } ) }}"#}
{#                    data-node-dest-id-value="seller"#}
{#                    data-refresh-key-value="refresh-html">#}
{#                <i class="fas fa-edit"></i> Edit#}
{#            </button>#}
            <button
                    class=" btn btn-link"
                    data-action="modal-form#openModal"
                    data-form-url-value="{{ path('app_seller_delete', {'id': seller.id}) }}"
                    data-url-value="{{ path('app_seller_index', {'seller':seller.id, ajax: 1 } ) }}"
                    data-node-dest-id-value="seller"
                    data-refresh-key-value="refresh-html">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                     class="bi bi-trash-fill text-dark" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
                </svg>
            </button>
        </td>
        <td>
    {% if seller.api is null %}
    <button
            class="btn btn-primary btn-sm"
            data-action="modal-form#openModal"
            data-form-url-value="{{ path('app_api_new',{'seller':seller.id}) }}"
            data-url-value="{{ path('app_seller_index', {'seller':seller.id, ajax: 1 } )  }}"
            data-node-dest-id-value="seller"
            data-modal-title-value="New api"
            data-refresh-key-value="refresh-html">
        Create api
    </button>
    {% else %}
        {#                                        modify api#}
        <button
                class="btn btn-success btn-sm"
                data-action="modal-form#openModal"
                data-form-url-value="{{ path('app_api_edit', {'id':seller.api.id}) }}"
                data-url-value="{{ path('app_seller_index', {'seller':seller.id, ajax: 1 }) }}"
                data-node-dest-id-value="seller"
                data-modal-title-value="Edit api"
                data-refresh-key-value="refresh-html">
            Edit api
        </button>
    {% endif %}
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="5">no records found</td>
    </tr>
{% endfor %}