{% for seller in sellers %}
    <tr>
        <td>{{ seller.id }}</td>
        <td>{{ seller.name }}</td>
        <td>{{ seller.user.email }}</td>
        <td>{{ seller.website }}</td>
        <td>{{ seller.address }}</td>
        <td>
            <button
                    class="btn btn-link btn-rounded btn-sm fw-bold btn-info btn-sm"
                    data-action="modal-form#openModal"
                    data-form-url-value="{{ path('app_seller_show', {'id': seller.id}) }}"
                    data-url-value="{{ path('app_seller_index', { 'seller':seller.id,ajax: 1 } ) }}"
                    data-node-dest-id-value="seller"
                    data-refresh-key-value="refresh-html">
                <i class="fas fa-eye"></i> View
            </button>
            <button
                    class=" btn btn-link btn-rounded btn-sm fw-bold btn-success btn-sm"
                    data-action="modal-form#openModal"
                    data-form-url-value="{{ path('app_seller_edit', {'id': seller.id}) }}"
                    data-url-value="{{ path('app_seller_index', {'seller':seller.id, ajax: 1 } ) }}"
                    data-node-dest-id-value="seller"
                    data-refresh-key-value="refresh-html">
                <i class="fas fa-edit"></i> Edit
            </button>
            <button
                    class=" btn btn-link btn-rounded btn-sm fw-bold btn-danger btn-sm"
                    data-action="modal-form#openModal"
                    data-form-url-value="{{ path('app_seller_delete', {'id': seller.id}) }}"
                    data-url-value="{{ path('app_seller_index', {'seller':seller.id, ajax: 1 } ) }}"
                    data-node-dest-id-value="seller"
                    data-refresh-key-value="refresh-html">
                <i class="bi bi-trash"></i> Delete
            </button>
        </td>
        <td>
    {% if seller.api is null %}
    <button
            class="btn btn-primary btn-sm"
            data-action="modal-form#openModal"
            data-form-url-value="{{ path('app_api_new',{'seller':seller.id}) }}"
            data-url-value="{{ path('app_seller_index', {'seller':seller.id, ajax: 1 } )  }}"
            data-node-dest-id-value="seller"
            data-modal-title-value="{{ 'Buttons.Custom.Nouveau.Seller'|trans }}"
            data-refresh-key-value="refresh-html">
        Create api
    </button>
    {% else %}
        {#                                        modify api#}
        <button
                class="btn btn-success btn-sm"
                data-action="modal-form#openModal"
                data-form-url-value="{{ path('app_api_edit', {'id':seller.api.id}) }}"
                data-url-value="{{ path('app_seller_index', {'seller':seller.id, ajax: 1 }) }}"
                data-node-dest-id-value="seller"
                data-modal-title-value="{{ 'Buttons.Custom.Nouveau.Seller'|trans }}"
                data-refresh-key-value="refresh-html">
            Edit api
        </button>
    {% endif %}
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="5">no records found</td>
    </tr>
{% endfor %}