<!-- About Us -->
<section id="about_us_top" class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about_us_left">
{#                    <h5>About us</h5>#}
                    <h2>About Our Travel Marketplace</h2>
                    <p>Welcome to our travel marketplace, a platform designed to connect travel agencies
                        with potential customers and provide a seamless travel experience.
                        Our marketplace offers a variety of products, including hotels, car rentals,
                        Omra packages, and more. We believe in the power of collaboration and seek
                        to create a mutually beneficial relationship between travel agencies and
                        customers. </p>
                    <p>Our marketplace provides a unique opportunity for travel agencies
                        to showcase their products and gain more visibility, attracting new customers
                        and expanding their reach. Additionally, we offer valuable insights
                        and statistics to our travel agency partners, helping them make data-driven
                        decisions and optimize their offerings. </p>
{#                    <a href="tour-search.html" class="btn btn_theme btn_md">Find tours</a>#}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about_us_right">
                    <img alt="img" src={{ asset("assets/images/common/abour_right.png") }}>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- How It Work -->
<section id="how_it_work_area" class="section_padding">
    <div class="container">
        <!-- Section Heading -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="section_heading_center">
                    <h2>How it works</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="how_it_boxed">
                    <img alt="img" src={{ asset("assets/images/common/how-1.png") }}>
                    <h3>Send a request</h3>
                    <p>Duis laboris culpa cupidatat do consequat esse officia ex.
                        Reprehenderit quis est id sint ea dolore sint nostrud demos adipisicing.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="how_it_boxed">
                    <img alt="img" src={{ asset("assets/images/common/how-2.png") }}>
                    <h3>Choose you offer</h3>
                    <p>Duis laboris culpa cupidatat do consequat esse officia ex.
                        Reprehenderit quis est id sint ea dolore sint nostrud demos adipisicing.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="how_it_boxed">
                    <img alt="img" src={{ asset("assets/images/common/how-3.png") }}>
                    <h3>Start earnings</h3>
                    <p>Duis laboris culpa cupidatat do consequat esse officia ex.
                        Reprehenderit quis est id sint ea dolore sint nostrud demos adipisicing.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- About Service Area -->
<section id="about_service_offer" class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="about_service_boxed">
                    <img alt="img" src={{ asset("assets/images/icon/world.png") }}>
                    <h5><a href="#!">Best services</a></h5>
                    <p>Phaseus site amet tristique ligua donec iaculis leo sus cipit. Consec tetur adipiscing elit.
                        Incididunt ut dolore.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="about_service_boxed">
                    <img alt="img" src={{ asset("assets/images/icon/walte.png") }}>
                    <h5><a href="#!">Trusted payment</a></h5>
                    <p>Phaseus site amet tristique ligua donec iaculis leo sus cipit. Consec tetur adipiscing elit.
                        Incididunt ut dolore.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="about_service_boxed">
                    <img alt="img" src={{ asset("assets/images/icon/star.png") }}>
                    <h5><a href="#!">Top facility</a></h5>
                    <p>Phaseus site amet tristique ligua donec iaculis leo sus cipit. Consec tetur adipiscing elit.
                        Incididunt ut dolore.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="about_service_boxed">
                    <img alt="img" src={{ asset("assets/images/icon/persentis.png") }}>
                    <h5><a href="#!">Awesome deals</a></h5>
                    <p>Phaseus site amet tristique ligua donec iaculis leo sus cipit. Consec tetur adipiscing elit.
                        Incididunt ut dolore.</p>
                </div>
            </div>
        </div>
    </div>
</section>