<!-- About Us -->
<section id="about_us_top" class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about_us_left">
                    <h5>About us</h5>
                    <h2>We Are The World Best Travel Agency Company Since 2000</h2>
                    <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                        no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                        dolor sit amet, consetetur sadipscing elitr </p>
                    <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                        no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                        dolor sit amet, consetetur sadipscing elitr </p>
{#                    <a href="tour-search.html" class="btn btn_theme btn_md">Find tours</a>#}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about_us_right">
                    <img alt="img" src={{ asset('assets/images/common/abour_right.png') }} >
                </div>
            </div>

        </div>
    </div>
</section>

{#<!-- About Banner -->#}
{#<section id="about_offer_banner" class="section_padding_bottom">#}
{#    <div class="container-fluid">#}
{#        <div class="row">#}
{#            <h2 class="d-none">Heading</h2>#}
{#            <div class="col-lg-4">#}
{#                <div class="about_offer_banner">#}
{#                    <a href="!#"><img src="assets/img/common/small_banner.png" alt="img"></a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-lg-8">#}
{#                <div class="about_offer_banner">#}
{#                    <img src="assets/img/common/big_banner.png" alt="img">#}
{#                    <div class="about_offer_text">#}
{#                        <h3>Enjoy <span>20%</span> discount</h3>#}
{#                        <h2>Thailand couple tour</h2>#}
{#                        <a href="tour-search.html">Find tours</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

{#        </div>#}
{#    </div>#}
{#</section>#}

<!-- About Service Area -->
<section id="about_service_offer" class="section_padding_bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="about_service_boxed">
                    <img alt="img" src={{ asset("assets/images/icon/world.png") }} s>
                    <h5><a href="#!">Best services</a></h5>
                    <p>Phaseus site amet tristique ligua donec iaculis leo sus cipit. Consec tetur adipiscing elit.
                        Incididunt ut dolore.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="about_service_boxed">
                    <img alt="img" src={{ asset("assets/images/icon/walte.png") }} >
                    <h5><a href="#!">Trusted payment</a></h5>
                    <p>Phaseus site amet tristique ligua donec iaculis leo sus cipit. Consec tetur adipiscing elit.
                        Incididunt ut dolore.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="about_service_boxed">
                    <img alt="img" src={{ asset("assets/images/icon/star.png") }}>
                    <h5><a href="#!">Top facility</a></h5>
                    <p>Phaseus site amet tristique ligua donec iaculis leo sus cipit. Consec tetur adipiscing elit.
                        Incididunt ut dolore.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="about_service_boxed">
                    <img alt="img" src={{ asset("assets/images/icon/persentis.png") }} >
                    <h5><a href="#!">Awesome deals</a></h5>
                    <p>Phaseus site amet tristique ligua donec iaculis leo sus cipit. Consec tetur adipiscing elit.
                        Incididunt ut dolore.</p>
                </div>
            </div>
        </div>
    </div>
</section>