{% extends 'seller_side/base_seller.html.twig' %}

{% block banner %}
    <section id="common_banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_bannner_text">
                        <h2>Customer dashboard</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><span><i class="fas fa-circle"></i></span>Customer dashboard</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block content %}
    <section id="explore_area" class="section_padding">
        <div class="container">
            <!-- Section Heading -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="section_heading_center">
                        <h2>Offers List</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="left_side_search_area">
                        <div class="left_side_search_boxed mt-2">
                            <div class="left_side_search_heading">
                                <h5>Filter by price</h5>
                            </div>
                            <div class="filter-price">
                                <div id="price-slider"></div>
                            </div>
                            <button class="apply" type="button">Apply</button>
                        </div>

                        <div class="left_side_search_boxed">
                            <div class="left_side_search_heading">
                                <h5>Filter by Rating</h5>
                            </div>
                            <div class="filter_review">
                                <form class="review_star">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaulta">
                                        <label class="form-check-label" for="flexCheckDefaulta">
                                            <i class="fas fa-star color_theme"></i>
                                            <i class="fas fa-star color_theme"></i>
                                            <i class="fas fa-star color_theme"></i>
                                            <i class="fas fa-star color_theme"></i>
                                            <i class="fas fa-star color_theme"></i>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value=""
                                               id="flexCheckDefaulf21">
                                        <label class="form-check-label" for="flexCheckDefaulf21">
                                            <i class="fas fa-star color_theme"></i>
                                            <i class="fas fa-star color_theme"></i>
                                            <i class="fas fa-star color_theme"></i>
                                            <i class="fas fa-star color_theme"></i>
                                            <i class="fas fa-star color_asse"></i>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value=""
                                               id="flexCheckDefaultf3">
                                        <label class="form-check-label" for="flexCheckDefaultf3">
                                            <i class="fas fa-star color_theme"></i>
                                            <i class="fas fa-star color_theme"></i>
                                            <i class="fas fa-star color_theme"></i>
                                            <i class="fas fa-star color_asse"></i>
                                            <i class="fas fa-star color_asse"></i>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value=""
                                               id="flexCheckDefaultf4">
                                        <label class="form-check-label" for="flexCheckDefaultf4">
                                            <i class="fas fa-star color_theme"></i>
                                            <i class="fas fa-star color_theme"></i>
                                            <i class="fas fa-star color_asse"></i>
                                            <i class="fas fa-star color_asse"></i>
                                            <i class="fas fa-star color_asse"></i>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value=""
                                               id="flexCheckDefaultf5">
                                        <label class="form-check-label" for="flexCheckDefaultf5">
                                            <i class="fas fa-star color_theme"></i>
                                            <i class="fas fa-star color_asse"></i>
                                            <i class="fas fa-star color_asse"></i>
                                            <i class="fas fa-star color_asse"></i>
                                            <i class="fas fa-star color_asse"></i>
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="left_side_search_boxed">


                        </div>

                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">

                    </div>
                    <div class="row ">
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for offer in offers %}
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="top_service_boxed wallet_area_boxed" >
                                    <a href="#">
                                        <h4 class="text-start">{{ offer.name }} </h4>
                                        <div class="wallet_boxed_flex d-block text-start m-0">
                                            <div class="wallet_blance_boxed ">
                                                <p class="m-2">Nombre Of Days <span class="fst-italic text-primary"> {{ offer.nbDays }}</span></p>

                                            </div>

                                            <div class="wallet_blance_boxed ">
                                                <p class="m-2">Number Of prudcts  <span class="fst-italic text-primary">{{ offer.offerProductTypes|length }}</span> </p>
                                                {% for offerProductType in offer.offerProductTypes %}
                                                    - {{ offerProductType.productType.name }}
                                                {% endfor %}
                                            </div>
                                            {#                                            <p class="m-2 text-bg-secondary">View More   </p>#}


                                        </div></a>
                                    <div class="mt-5"> <form action="{{ path('app_seller_side_addToCard',{'offer':offer.id}) }}" method="POST">

                                            <button type="submit" class="btn btn_theme btn_md w-100  ">Add to card</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}



