{% extends 'seller_side/base_seller.html.twig' %}

{% block banner %}
    <section id="common_banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {#                    <div class="common_bannner_text"> #}
                    {#                        <h2>Customer dashboard</h2> #}
                    {#                        <ul> #}
                    {#                            <li><a href="index.html">Home</a></li> #}
                    {#                            <li><span><i class="fas fa-circle"></i></span>Customer dashboard</li> #}
                    {#                        </ul> #}
                    {#                    </div> #}
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block content %}

    <section id="explore_area" class="section_padding">
        <div class="container">
            <!-- Section Heading -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="section_heading_center">
                        <h2>Offers List</h2>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="row ">

                        {% for message in app.flashes('error') %}
                            <div class="alert alert-light d-flex align-items-center alert-dismissible fade show border-danger"
                                 role="alert">
                                <i class="bi bi-x-circle-fill text-danger me-2"></i>
                                <span>{{ message }}</span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endfor %}

                        {% for message in app.flashes('success') %}
                            <div class="alert alert-light d-flex align-items-center alert-dismissible fade show border-success"
                                 role="alert">
                                <i class="bi bi-check-circle-fill text-success me-2"></i>
                                <span>{{ message }}</span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {#                            {% if offers|length != null %} #}
            {#                                {% for offer in offers %} #}
            {#                                    {% if offer.name in ['Gold', 'Silver', 'Premium'] %} #}
            {#                                        <!-- start card --> #}
            {#                                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-4"> #}
            {#                                            <div class="card top_service_boxed"> #}
            {#                                                <div class="card-header bg-white text-center"> #}
            {#                                                    <h4 class="card-title text-uppercase mb-0">{{ offer.name }}</h4> #}
            {#                                                    <p class="card-text mb-0"><small>{{ offer.nbDays }} days</small></p> #}
            {#                                                </div> #}
            {#                                                <div class="card-body text-center"> #}
            {#                                                    <h3 class="card-text mb-3">$ {{ offer.price }}</h3> #}
            {#                                                    {% for offerProductType in offer.offerProductTypes %} #}
            {#                                                        <div class="d-flex justify-content-between align-items-center"> #}
            {#                                                            <p class="m-0"> #}
            {#                                                                <strong>{{ offerProductType.productType.name }}</strong></p> #}
            {#                                                            <p class="m-0">$ {{ offerProductType.price }} #}
            {#                                                                / {{ offerProductType.maxItems }} items</p> #}
            {#                                                        </div> #}
            {#                                                    {% endfor %} #}
            {#                                                </div> #}
            {#                                                <div class="card-footer bg-white"> #}
            {#                                                    <form action="{{ path('app_seller_side_addToCard',{'offer':offer.id}) }}" #}
            {#                                                          method="POST"> #}
            {#                                                        <button type="submit" class="btn btn_theme btn_sm w-100">Add to #}
            {#                                                            Cart #}
            {#                                                        </button> #}
            {#                                                    </form> #}
            {#                                                </div> #}
            {#                                            </div> #}
            {#                                        </div> #}
            {#                                    {% endif %} #}
            {#                                    <!-- end card --> #}
            {#                                {% endfor %} #}
            {#                                <div class="mt-5 pt-5"> #}
            {#                                </div> #}
            {#                                <div class="section_heading_center"> #}
            {#                                    <h4>Other offers</h4> #}
            {#                                </div> #}
            {#                                {% for offer in offers %} #}
            {#                                    {% if offer.name not in ['Gold', 'Silver', 'Premium'] %} #}
            {#                                        <!-- start card --> #}
            {#                                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-4"> #}
            {#                                            <div class="card top_service_boxed"> #}
            {#                                                <div class="card-header bg-white text-center"> #}
            {#                                                    <h4 class="card-title text-uppercase mb-0">{{ offer.name }}</h4> #}
            {#                                                    <p class="card-text mb-0"><small>{{ offer.nbDays }} days</small></p> #}
            {#                                                </div> #}
            {#                                                <div class="card-body text-center"> #}
            {#                                                    <h3 class="card-text mb-3">$ {{ offer.price }}</h3> #}
            {#                                                    {% for offerProductType in offer.offerProductTypes %} #}
            {#                                                        <div class="d-flex justify-content-between align-items-center"> #}
            {#                                                            <p class="m-0"> #}
            {#                                                                <strong>{{ offerProductType.productType.name }}</strong></p> #}
            {#                                                            <p class="m-0">$ {{ offerProductType.price }} #}
            {#                                                                / {{ offerProductType.maxItems }} items</p> #}
            {#                                                        </div> #}
            {#                                                    {% endfor %} #}
            {#                                                </div> #}
            {#                                                <div class="card-footer bg-white"> #}
            {#                                                    <form action="{{ path('app_seller_side_addToCard',{'offer':offer.id}) }}" #}
            {#                                                          method="POST"> #}
            {#                                                        <button type="submit" class="btn btn_theme btn_sm w-100">Add to #}
            {#                                                            Cart #}
            {#                                                        </button> #}
            {#                                                    </form> #}
            {#                                                </div> #}
            {#                                            </div> #}
            {#                                        </div> #}
            {#                                    {% endif %} #}
            {#                                    <!-- end card --> #}
            {#                                {% endfor %} #}
            {#                            {% else %} #}
            {#                                <div class="row justify-content-center"> #}
            {#                                    <p>No offers found</p> #}
            {#                                </div> #}
            {#                            {% endif %} #}
            {#                        </div> #}
            {#                    </div> #}
            {#                </div> #}
        </div>
    </section>

    <style>
        /** {*/
        /*    box-sizing: border-box;*/
        /*}*/

        body {
            font-family: Roboto, sans-serif;
            margin: 0;
            padding: 0;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;
            border: 2px solid rgb(139, 62, 234);
            border-radius: 8px;
            overflow: hidden;
            background-color: #fff;
            letter-spacing: 1px;
        }

        th, td {
            text-align: center;
            padding: 12px;
            border-bottom: 2px solid rgb(139, 62, 234);
            font-size: 16px;
            color: #333;
        }

        th {
            background-color: rgb(139, 62, 234);
            color: #fff;
        }

        tr:nth-child(even) {
            background-color: #f5f5f5;
        }

        .checkmark {
            color: green;
            font-size: 23px;
        }

        .crossmark {
            color: red;
            font-size: 23px;
        }

        @media (max-width: 767px) {
            th, td {
                font-size: 14px;
            }
        }
    </style>
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="row ">
                <table>
                    <thead>
                    <tr>
                        <th>Offer</th>
                        {% for productType in productTypes %}
                            <th>{{ productType.name }}</th>
                        {% endfor %}
                        <th>action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if offers|length != null %}
                        {% for offer in offers %}
                            <tr>
                                <td>{{ offer.name }}</td>
                                {% for productType in productTypes %}
                                    {% set found = false %}
                                    {% for offerProductType in offer.offerProductTypes %}
                                        {% if offerProductType.productType.id == productType.id %}
                                            {% set found = true %}
                                            {#                            {% if offerProductType.maxItems == -1 %} #}
                                            <td><span class="checkmark">&#10003;</span></td>
                                            {#                            {% else %} #}
                                            {#                                <td><span class="crossmark">&#10005;</span></td> #}
                                            {#                            {% endif %} #}
                                        {% endif %}
                                    {% endfor %}
                                    {% if not found %}
                                        <td><span class="crossmark">&#10005;</span></td>
                                    {% endif %}
                                {% endfor %}
                                <td>
                                    <form action="{{ path('app_seller_side_addToCard',{'offer':offer.id}) }}"
                                          method="POST">
                                        <button type="submit" class="btn btn_theme btn_sm w-72">Add to
                                            Cart
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="100%">
                                <div class="row justify-content-center">
                                    <p>No offers found</p>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}



