{% extends 'seller_side/base_seller.html.twig' %}

{% block banner %}
    <section id="common_banner">
    </section>
{% endblock %}

{% block content %}

    {% if selectedOffers is defined and app.session.has('selectedOffers') and app.session.get('selectedOffers')|length != 0 %}
        {% set totalPrice = 0 %}
        <section id="tour_details_main" class="section_padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="tour_details_leftside_wrapper">
                            <div class="tour_details_heading_wrapper">
                                <div class="tour_details_top_heading">
                                    <h2>Cart</h2>
                                </div>
                            </div>

                            {% for message in app.flashes('error') %}
                                <div class="alert alert-light d-flex align-items-center alert-dismissible fade show border-danger"
                                     role="alert">
                                    <i class="bi bi-x-circle-fill text-danger me-2"></i>
                                    <span>{{ message }}</span>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endfor %}

                            {% for message in app.flashes('success') %}
                                <div class="alert alert-light d-flex align-items-center alert-dismissible fade show border-success"
                                     role="alert">
                                    <i class="bi bi-check-circle-fill text-success me-2"></i>
                                    <span>{{ message }}</span>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endfor %}

                            {% set nbOffer = 0 %}
                            {% for index in 0..selectedOffers|length-1 %}
                                {% set nbOffer = nbOffer + 1 %}
                                {% set offer = selectedOffers[index] %}
                                {% set form = forms[index] %}

                                {% set offerPrice = 0 %}
                                <div class="tour_details_boxed">
                                    <h3 class="heading_theme">Offer: {{ offer.name }} <p>validity: ({{ offer.nbDays }}
                                            days)</p></h3>
                                    <div class="tour_details_boxed_inner">
                                        <div class="card_container">
                                            <div class="card_box">
                                                <h5>Including products ({{ offer.nbProductTypes }})</h5>
                                                <ul>
                                                    {% for offerProductType in  offer.offerProductTypes %}
                                                        {% set offerPrice = offerPrice + offerProductType.price %}
                                                        {% set totalPrice = totalPrice + offerProductType.price %}

                                                        <div class="tour_details_top_heading_right">
                                                            <p style="display: inline" class="font-weight-bold">
                                                                🞄 {{ offerProductType.productType.name }} : </p>
                                                            <p style="display: inline">&nbsp;Max
                                                                items: {{ offerProductType.maxItems }} &nbsp;|&nbsp;
                                                                Price: {{ offerProductType.price }}</p>
                                                        </div>

                                                    {% endfor %}
                                                </ul>
                                            </div>

                                            <div class="card_box ">
                                                <!--  date form -->
                                                <div class="col-lg-10 col-md-8 col-sm-12 col-12">
                                                    <div class="flight_Search_boxed date_flex_area">
                                                        {{ form_start(form, { 'attr': {'class': 'offer-form'} }) }}
                                                        {{ form_widget(form) }}
                                                        {{ form_end(form) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card_container">
                                        <div class="card_box">
                                            <p>Offer price: {{ offerPrice }}</p>
                                            <a class=""
                                               href="{{ path('app_seller_side_removeFromCard',{'id': offer.id}) }}">
                                                <i class="bi bi-trash"></i>Remove item</a>

                                        </div>
                                        <div class="card_box right-align">

                                        </div>
                                    </div>
                                    <div class="edit_person">

                                    </div>


                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="tour_details_right_sidebar_wrapper">
                            <div class="tour_detail_right_sidebar">
                                <div class="tour_details_right_boxed">
                                    <div class="tour_details_right_box_heading">
                                        <h3>Details</h3>
                                    </div>
                                    <div class="tour_package_details_bar_list">

                                        <ul>
                                            <li><i class="fas fa-circle"></i>Total offers ({{ nbOffer }})</li>
                                            <li><i class="fas fa-circle"></i>Others details</li>

                                        </ul>
                                    </div>
                                    <div class="tour_package_details_bar_price">
                                        <h5>Total price</h5>
                                        <div class="tour_package_bar_price">
                                            <h6>
                                                <del></del>
                                            </h6>
                                            <h3> {{ totalPrice }} <sub>TND</sub></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="tour_select_offer_bar_bottom">
                                    <button class="btn btn_theme btn_md w-100" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal"
                                            id="submit-all-forms">Buy
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <div class="d-flex justify-content-center">
            <div class="tour_details_boxed col-lg-10">
                <div style="margin-left: 38%">
                    <img class="" style="" src="{{ asset('assets/images/emptyCard.png') }}">
                </div>
                <p class="top_form_search_button">You didn't choose any offer, you can pick one here</p>
                <div class="top_form_search_button">
                    <a href="{{ path('app_seller_side_offer') }}">
                        <button class="btn btn_theme btn_md">List of offers</button>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}



    <!-- Buy Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body logout_modal_content">
                    <div class="btn_modal_closed">
                        <button type="button" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
                    </div>
                    <h3>Buying process</h3>


                    <div class="vendor_form col-lg-10 d-flex flex-column align-items-center">
                        <div class="form-group input-margin">
                            <label for="name" class="col-form-label mb-2">Name:</label>

                                <input type="text" class="form-control" id="name" placeholder="Enter your name" required>

                        </div>
                        <div class="form-group input-margin">
                            <label for="email" class="col-form-label mb-2">Email:</label>

                                <input type="email" class="form-control" id="email" placeholder="Enter your email" required>

                        </div>
                        <div class="form-group input-margin">
                            <label for="phone" class="col-form-label mb-2">Phone:</label>

                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number" required>

                        </div>

                    </div>
                    <div class="logout_approve_button">
                        <button data-bs-dismiss="modal" class="btn btn_theme btn-md" id="logout-confirm-btn">Buy</button>
                        <button data-bs-dismiss="modal" class="btn btn_border btn-md">No Cancel</button>
                    </div>
                </div>
        </div>
    </div>


    <script>
        $(function () {
            document.getElementById('logout-confirm-btn').addEventListener('click', function () {
                let formData = {};
                let isFormValid = true; // add a variable to check if all required fields are filled out
                $('.offer-form').each(function () {
                    let formFields = $(this).serializeArray();
                    formFields.forEach(function (field) {
                        if (field.value.trim() === '') { // check if the field is empty or only contains spaces
                            isFormValid = false; // set the flag to false if any required field is empty
                        }
                        formData[field.name] = field.value;
                    });
                });
                if (isFormValid) { // only send the data if all required fields are filled out
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('app_seller_side_buyOffer') }}',
                        data: formData,
                        success: function (response) {
                            console.log('Success: ' + JSON.stringify(response));
                            // redirect to the new page
                            window.location.href = response.newPageUrl;
                            document.getElementById('logout-confirm-btn').removeEventListener('click', this);
                        },
                        error: function (response) {
                            console.log('Error: ' + JSON.stringify(response));
                        }
                    });
                    isFormValid = false;
                } else {
                    console.log('date no valid')
                }
            });
        });
    </script>

    <style>
        .input-margin {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .form-control{

        }
    </style>

    <style>
        .card_container {
            display: flex;
            flex-direction: row;
        }

        .card_box {
            width: 50%;
            padding: 0 0 10px;
            margin: 0 auto 5px 0;
        }

        .right-align {
            text-align: right;
        }
    </style>

{% endblock %}