{% extends 'seller_side/base_seller.html.twig' %}

{% block banner %}
<section id="common_banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="common_bannner_text">
                    <h2>Request Confirmation</h2>
                    <ul>
                        <li><a href={{ path('app_seller_side_login') }}>Home</a></li>
                        <li><span><i class="fas fa-circle"></i></span>request</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
    <section id="tour_booking_submission" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="tou_booking_form_Wrapper">
                        <div class="tour_booking_form_box mb-4">
                            <div class="booking_success_arae">
                                <div class="booking_success_img">
                                    <img alt="img" src={{ asset("assets/images/icon/right.png") }} >
                                </div>
                                <div class="booking_success_text">
                                    <h3>{{ marketSubscriptionRequest.name }}, your subscription request was submitted successfully!</h3>
                                    <h6>You will receive an email after our team validate your request</h6>
                                </div>
                            </div>
                        </div>
                        <div class="booking_tour_form">
                            <h3 class="heading_theme">Your information</h3>
                            <div class="tour_booking_form_box">
                                <div class="your_info_arae">
                                    <ul>
                                        <li><span class="name_first">Name:</span> <span
                                                    class="last_name">{{ marketSubscriptionRequest.name }}</span></li>
                                        <li><span class="name_first">Email address:</span> <span
                                                    class="last_name">{{marketSubscriptionRequest.email}}</span></li>
                                        <li><span class="name_first">Website:</span> <span
                                                    class="last_name">{{ marketSubscriptionRequest.website }}</span></li>
                                        <li><span class="name_first">Address:</span> <span class="last_name">
                                                {{ marketSubscriptionRequest.address }}
                                            </span></li>
                                        <li><span class="name_first">City:</span> <span
                                                    class="last_name">{{ marketSubscriptionRequest.city }}</span></li>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}