{% extends 'front/base_user.html.twig' %}

{% block content %}
    <!-- Common Banner Area -->
    <section id="common_banner">
    </section>

    <br><br><br><br>


    <section id="vendor_form_area" class="section_padding_bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="vendor_form_heading">
                        <h2>Subscription request</h2>
                        {#                        <p>Eu sint minim tempor anim aliqua officia voluptate incididunt deserunt. #}
                        {#                            <br /> Velitgo quis Lorem culpa qui pariatur occaecat. #}
                        {#                        </p> #}
                    </div>
                </div>


                <div class="col-lg-8">
                    <div class="vendor_form">
                        <div class="tour_booking_form_box">
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_row(form.name) }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_row(form.email) }}
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        {{ form_row(form.website) }}
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        {{ form_row(form.address) }}
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        {{ form_label(form.city, null, {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.city, {'attr': {'class': 'invalid-feedback'}}) }}
                                    </div>
                                </div>

                                <div class="booking_tour_form_submit pt-4">
                                    {{ form_row(form.terms) }}
                                    <button type="submit" class="btn btn_theme btn_md mt-4">Send request</button>
                                </div>
                                {{ form_end(form) }}
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="faqs_call_area">
                        <img src="{{ asset('assets/images/icon/call.png') }}" alt="img">
                        <h5>Contact us 24/7</h5>
                        <h3><a href="tel:+216-74-400-514">(+216) 74 400 514</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}