{% for product_type in product_types %}
    <tr>
        <td>{{ product_type.id }}</td>
        <td>{{ product_type.name }}</td>
        <td>
            <button
                    class="btn btn-info waves-effect waves-light"
                    data-action="modal-form#openModal"
                    data-form-url-value="{{ path('app_product_type_show', {'id': product_type.id}) }}"
                    data-node-dest-id-value="myThreeCustomContent"
                    data-refresh-key-value="refresh-html">
                <i class="fas fa-eye"></i>
            </button>
            <button
                    class="btn btn-success waves-effect waves-light"
                    data-action="modal-form#openModal"
                    data-form-url-value="{{ path('app_product_type_edit', {'id': product_type.id}) }}"
                    data-url-value="{{ path('app_product_type_index', { ajax: 1 } ) }}"
                    data-node-dest-id-value="myOneCustomContent"
                    data-modal-title-value="{{ 'Buttons.General.Modifier'|trans }}"
                    data-refresh-key-value="refresh-html">
                <i class="fas fa-edit"></i>
            </button>

            <button
                    class="btn btn-secondary waves-effect waves-light"
                    data-action="modal-form#openModal"
                    data-target="#showModal"
                    data-form-url-value="{{ path('offerProductTypes_ProductType', {'id': product_type.id}) }}"
                    data-url-value="{{ path('app_product_type_index', { ajax: 1 } ) }}"
                    data-node-dest-id-value="myOneCustomContent"
                    data-modal-title-value="{{ 'Buttons.General.Afficher'|trans }}"
                    data-refresh-key-value="refresh-html">
                Products
            </button>

            <button
                    class="btn btn-danger waves-effect waves-light"
                    data-action="modal-form#openModal"
                    data-target="#showModal"
                    data-form-url-value="{{ path('app_product_type_delete', {'id': product_type.id}) }}"
                    data-url-value="{{ path('app_product_type_index', { ajax: 1 } ) }}"
                    data-node-dest-id-value="myOneCustomContent"
                    data-modal-title-value="{{ 'Buttons.General.Delete'|trans }}"
                    data-refresh-key-value="refresh-html">
                <i class="fas fa-trash"></i>
            </button>
{#show offer product type list for this product type#}
{#            {{ product_type.getOfferProductTypes|join(',') }}#}

        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="3">no records found</td>
    </tr>
{% endfor %}