{% extends 'base.html.twig' %}

{% block title %}Api index{% endblock %}

{% block body %}
    <h1>Api index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BaseUrl</th>
                <th>ApiKeyValue</th>
                <th>Login</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for api in apis %}
            <tr>
                <td>{{ api.id }}</td>
                <td>{{ api.baseUrl }}</td>
                <td>{{ api.apiKeyValue }}</td>
                <td>{{ api.login }}</td>
                <td>{{ api.password }}</td>
                <td>
                    <a href="{{ path('app_api_show', {'id': api.id}) }}">show</a>
                    <a href="{{ path('app_api_edit', {'id': api.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_api_new') }}">Create new</a>
{% endblock %}
